/* TCRF.net - Dark Common CSS */

/* import da root varuhbulls */
@import url("https://gitcdn.link/repo/404UNFca/TCRFDark/main/root.css");

/* Revamped Translation Progress Icons */
.mw-pt-progress--stub { background-image: url("https://raw.githubusercontent.com/404UNFca/TCRFDark/main/prog1.png"); }
.mw-pt-progress--low { background-image: url("https://raw.githubusercontent.com/404UNFca/TCRFDark/main/prog2.png"); }
.mw-pt-progress--med { background-image: url("https://raw.githubusercontent.com/404UNFca/TCRFDark/main/prog3.png"); }
.mw-pt-progress--high { background-image: url("https://raw.githubusercontent.com/404UNFca/TCRFDark/main/prog4.png"); }
.mw-pt-progress--complete { background-image: url("https://raw.githubusercontent.com/404UNFca/TCRFDark/main/prog5.png"); }

/* Main body */
body {
    background-color: var(--bg-dark);
    background-image: url("https://raw.githubusercontent.com/404UNFca/TCRFDark/main/tcrf-dark.png");
}

/* Top of page gradient */
#mw-page-base {
    background-image: linear-gradient(to top, var(--bg-dark) 30%, var(--dark-5));
    background-color: transparent;
}

/* Document body */
.mw-body {
	background-color: var(--dark-25);
    color: var(--white-90);
    border-color: var(--dark-45);
}

/**
 * Main page boxes
 * Thank you CounterDiving for adding IDs to those boxes!
 */
/* "# articles and counting" box */
#statistics-bar {
	border: 1px solid var(--dark-45) !important;
	background: var(--dark-15) !important;
    color: var(--white-90) !important;
}
/* Featured Article box */
#featured-area {
	border: 1px solid var(--dark-45) !important;
	background: var(--dark-15) !important;
}
/* Did You Know box */
#dyk-area {
	border: 1px solid var(--dark-45) !important;
	background: var(--dark-15) !important;
}
/* "Contributing" box */
#contrib-area {
	border: 1px solid var(--dark-45) !important;
	background: var(--dark-15) !important;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    color: var(--white-90);
}
h1, h2 {
    border-bottom: 1px solid var(--dark-45);
}

/* Linkage - General */
a.new, #p-personal a.new {
    color: var(--a-lightred);
}
a {
    color: var(--a-blue);
}
a:visited {
    color: var(--a-blue-visited);
}
a:active {
    color: var(--a-blue);
}

/* History diffs */
.diff-context {
    background: var(--dark-35);
    border-color: var(--dark-45);
    color: var(--white-90);
}
.diff-addedline .diffchange {
    background: var(--dark-35);
    color: var(--tcrf-green);
}
.diff-deletedline .diffchange {
    background: var(--dark-35);
    color: var(--a-lightred);
}
.diff-addedline {
    border-color: var(--tcrf-green);
}
.diff-deletedline {
    border-color: var(--a-lightred);
}
