/* TCRF.net - Dark Monobook CSS */

/* import da root varuhbulls */
@import url("https://gitcdn.link/repo/404UNFca/TCRFDark/main/root.css");

/* Monobook page tabs */
.pBody {
    background-color: var(--dark-15);
    border: 1px solid var(--dark-45);
}
.skin-monobook input#searchInput {
    background-color: var(--dark-35);
    margin-bottom: 4px;
}
#p-cactions li.selected {
    border-color: var(--dark-45);
}
#p-cactions li {
    background-color: var(--dark-15);
    border-color: var(--dark-45) !important;
}
#p-cactions li.selected a {
    background-color: var(--dark-25);
}
#p-cactions li a {
	background-color: var(--dark-15);
    color: var(--a-blue);
}

/* Recent changes filter buttons fix for Monobook */
.oo-ui-buttonElement-framed > .oo-ui-buttonElement-button {
    background-image: none;
    background-color: var(--dark-35) !important;
    border: 1px solid var(--dark-45);
}
.oo-ui-tagItemWidget {
	background-image: none;
}
