/* TCRF.net - Dark Vector CSS */

/* import da root varuhbulls */
@import url("https://gitcdn.link/repo/404UNFca/TCRFDark/main/root.css");

/**
 * Vector Menu stuff
 */

/* "More" vectormenu option */
.vectorMenu h3 span {
    color: var(--a-blue);
    font-weight: bold;
}
/* More dropdown arrow */
.vectorMenu h3 span::after {
    background-image: url("https://raw.githubusercontent.com/404UNFca/TCRFDark/main/navbar-dropdown.png");
}
.vectorMenu li a {
    color: var(--a-blue);
    background-color: var(--dark-25);
    font-weight: bold;
}
.vectorMenu .menu {
    border: 1px solid var(--dark-45);
}

/* Vector Tabs */
.vectorTabs li {
    background-image: linear-gradient(to top, var(--dark-25) 0.063em, var(--dark-15) 100%);
    font-weight: bold;
}
.vectorTabs li a {
    color: var(--a-blue);
}
.vectorTabs, .vectorTabs span, #mw-head .vectorMenu h3 {
    background-image: linear-gradient(to top, var(--dark-45) 0, var(--dark-15) 100%);
}
.vectorTabs .selected {
    background-image: linear-gradient(to top, var(--dark-25) 0.063em, var(--dark-15) 100%);
    background-color: var(--dark-25);
}
.vectorTabs .selected a, .vectorTabs .selected a:visited {
    color: var(--a-blue-visited);
}

/* These were fixes for something, but I don't remember what. */
.skin-vector .uls-menu {
    border-color: var(--dark-45);
}
.skin-vector .uls-lcd-region-title {
    color: var(--white-90);
}
.skin-vector .uls-search {
    border-bottom-color: var(--dark-45);
}

.oo-ui-icon-feedback, .mw-ui-icon-feedback::before {
    background-image: url(/load.php?modules=oojs-ui.styles.icons-interactions&image=feedback&format=rasterized&lang=en&skin=vector&version=17uzx) !important;
}
.oo-ui-icon-reload, .mw-ui-icon-reload::before {
    background-image: url(/load.php?modules=oojs-ui.styles.icons-interactions&image=reload&format=rasterized&skin=vector&version=17uzx) !important;
}
.oo-ui-icon-stop, .mw-ui-icon-stop::before {
    background-image: url(/load.php?modules=oojs-ui.styles.icons-media&image=stop&format=rasterized&skin=vector&version=1kxm4) !important;
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E %3Ctitle%3E stop %3C/title%3E %3Crect width=%2216%22 height=%2216%22 x=%222%22 y=%222%22 rx=%221%22/%3E %3C/svg%3E") !important;
}
